<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro Asistencia</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="assets/QRDuoc.jpg" alt="QR"></ion-img>
  </ion-card>

  <br><br><br>
  ESCANEE PARA REGISTRAR SU ASISTENCIA

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>DuocUC</ion-title>
  </ion-toolbar>
</ion-footer>
