<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-input type="password" placeholder="*****" 
              label="Ingrese nueva Contraseña"
              labelPlacement="floating"
              ></ion-input>

  <ion-input type="password" placeholder="*****" 
              label="Repita nueva Contraseña"
              labelPlacement="floating"
              ></ion-input>

  <ion-row>

    <ion-col>
      <ion-button (click)="funcionCambio" expand="block" fill="clear" shape="round">
        Cambiar Contraseña
      </ion-button>
    </ion-col>
    
  </ion-row>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>DuoUC</ion-title>
  </ion-toolbar>
</ion-footer>