<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>

    <ion-col>
    <ion-item>
      <ion-input type="text" placeholder= "Usuario" label="Ingrese Usuario" labelPlacement="floating" color="dark" [(ngModel)]="user"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder= "*******" label="Ingrese Contraseña" labelPlacement="floating" color="dark" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button (click)="funcionIngresar() " expand="block" fill="solid" shape="round" color="primary">
      Ingresar
    </ion-button></ion-col>
  
  </ion-row> 

  <ion-row>

    <ion-col>
      <ion-button (click)="funcionRecuperar" expand="block" fill="clear" shape="round">
        Recuperar tu Contraseña
      </ion-button>
    </ion-col>
    
  </ion-row>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>DuocUC</ion-title>
  </ion-toolbar>
</ion-footer>
