<ion-menu side="start" type="reveal" menuId="menuPrincipal" contentId="menuPrincipal">

  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú RegistrAPP</ion-title>
      <ion-buttons slot="end" size="large">
        <ion-menu-toggle>

          <ion-icon  name="close-outline"></ion-icon>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" color="primary">
    <ion-list>
            
      <ion-item routerLink="/asignaturas" color="dark">
        <ion-label>Asignaturas</ion-label>
        <ion-icon slot="end" name="book"></ion-icon>
      </ion-item>

      <ion-item routerLink="/asistencias" color="dark">
        <ion-label>Asistencias</ion-label>
        <ion-icon slot="end" name="calendar"></ion-icon>
      </ion-item>

    <ion-item routerLink="/regasistencia" color="dark">
      <ion-label>Registro Asistencia</ion-label>
      <ion-icon slot="end" name="create"></ion-icon>
    </ion-item>

    <ion-item routerLink="/cambpassword" color="dark">
      <ion-label>Cambiar Contraseña</ion-label>
      <ion-icon slot="end" name="barcode"></ion-icon>
    </ion-item>

    <ion-item routerLink="/sesionuser" color="danger">
      <ion-label>Cerrar Sesion</ion-label>
      <ion-icon slot="end" name="power"></ion-icon>
    </ion-item>

    </ion-list>
    
  </ion-content>

</ion-menu>

<div class="ion-page" id="menuPrincipal">

  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu de Inicio</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-label>
      <p>BIENVENIDO A REGISTRAPP :D</p>
      <h2>{{ user }}</h2>
    </ion-label>
  </ion-content>

